@using Ljbc1994.Blazor.IntersectionObserver;
@typeparam TItem
@inject IIntersectionObserverService _observerService

<Virtualize Items="Items" Context="item">
	@if (ChildContent is not null)
	{
		@ChildContent(item)
	}
</Virtualize>
<span @ref="_targetElement" class="p-2"></span>
<LoadableComponent IsLoading="_isLoading" AdditionalCss="centered my-4" />

@code {

	[Parameter]
	public RenderFragment<TItem>? ChildContent { get; set; }
	[Parameter]
	public ICollection<TItem>? Items { get; set; }
	[Parameter]
	public EventCallback OnLoadingItems { get; set; }
	[Parameter]
	public bool RemainingItems 
	{
		get { return _remainingItems; }
		set 
		{
			_remainingItems = value;
			if (!_remainingItems && _observer is not null)
				_observer.Unobserve(_targetElement);
		}
	}

	private ElementReference _targetElement { get; set; }
	private IntersectionObserver? _observer;
	private bool _remainingItems = true;
	private bool _isLoading = true;

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
			_observer = await _observerService.Observe(_targetElement, async (entries) => await OnIntersection());
	}

	public async Task OnIntersection()
	{
		_isLoading = true;
		await OnLoadingItems.InvokeAsync();
		_isLoading = false;
		StateHasChanged();
	}

}
