@if(IsLoading)
{
    <div class="spinner-border @AdditionalCss" role="status"></div>
}
else if (ChildContent is not null)
{
    @ChildContent
}
    
@code {

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    [Parameter]
    public bool IsLoading { get; set; }
    [Parameter]
    public string AdditionalCss { get; set; } = "";

}
