@using Ljbc1994.Blazor.IntersectionObserver;
@typeparam TItem
@inject IIntersectionObserverService _observerService

<Virtualize Items="Items" Context="item">
	@ChildContent(item)
</Virtualize>
<span @ref="_targetElement" class="p-2"></span>
<LoadableComponent IsLoading="_isLoading" AdditionalCss="centered my-4" />

@code {

	[Parameter]
	public RenderFragment<TItem> ChildContent { get; set; }
	[Parameter]
	public ICollection<TItem> Items { get; set; }
	[Parameter]
	public EventCallback OnLoadingItems { get; set; }

	private ElementReference _targetElement { get; set; }
	private bool _isLoading = true;

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
			await SetupObserver();
	}

	public async Task OnIntersection()
	{
		_isLoading = true;
		await OnLoadingItems.InvokeAsync();
		_isLoading = false;
		StateHasChanged();
	}

	private async Task SetupObserver() => await _observerService.Observe(_targetElement, async (entries) =>
    {
		await OnIntersection();
    });
    
}
