@page "/"
@using BlazorInfiniteScrollingDemo.Data
@inject WeatherForecastService _forecastService

<h1 class="text-center my-4">Infinite Scrolling Demo</h1>

@if(_forecasts is null)
{
	<p>Loading...</p>
}
else
{
	<InfiniteScrolling Items="_forecasts" Context="forecast" OnLoadingItems="FetchForecasts">
		<div class="list-group-item">@forecast.Id. @forecast.Date.ToShortDateString(): @(forecast.TemperatureC)° (@forecast.Summary)</div>
	</InfiniteScrolling>
}

@code{

	private List<WeatherForecast> _forecasts = new();
	private List<WeatherForecast> _mockedService = new();

	protected override async Task OnInitializedAsync()
	{
		_mockedService = await _forecastService.GetForecastAsync();
		await FetchForecasts();
	}

	private async Task FetchForecasts()
	{
		await Task.Delay(500);
		_forecasts.AddRange(_mockedService.Skip(_forecasts.Count).Take(40));
	}

}