@page "/"
@using BlazorInfiniteScrollingDemo.Data
@inject WeatherForecastService _forecastService

<h1 class="text-center my-4">Infinite Scrolling Demo</h1>

<InfiniteScrolling Items="_forecasts" Context="forecast" OnLoadingItems="FetchForecasts" RemainingItems="_remainingItems">
	<Item>
		<div class="list-group-item">@forecast.Id. @forecast.Date.ToShortDateString(): @(forecast.TemperatureC)° (@forecast.Summary)</div>
	</Item>
	<NotFound>
		<div class="text-center">No hay datos disponibles.</div>
	</NotFound>
</InfiniteScrolling>

@code{

	private List<WeatherForecast> _forecasts = new();
	private List<WeatherForecast> _mockedService = new();
	private bool _remainingItems = true;

	protected override async Task OnInitializedAsync() =>
		_mockedService = await _forecastService.GetForecastAsync();

	private async Task FetchForecasts()
	{
		await Task.Delay(1000);
		var forecasts = _mockedService.Skip(_forecasts.Count).Take(40);
		if (forecasts.Any())
			_forecasts.AddRange(forecasts);
		else
			_remainingItems = false;
	}

}